---
import Layout from '~/layouts/PageLayout.astro';
---
<Layout metadata={{ title: 'Industries - Yinkor' }}>
  <div class="container mx-auto px-4 py-10">
    <h1 class="text-3xl font-bold">Industries We Serve</h1>
    <ul class="list-disc mt-6 pl-6 space-y-2">
      <li>Oil & Gas</li>
      <li>Chemical & Petrochemical</li>
      <li>Power Generation</li>
      <li>Water & Wastewater</li>
      <li>Food & Beverage</li>
      <li>Mining & Metals</li>
      <li>Pharmaceutical</li>
      <li>Pulp & Paper</li>
    </ul>
    <p class="mt-6">Custom solutions available for other industries – contact us to discuss.</p>
  </div>
</Layout>