---
import Layout from '~/layouts/PageLayout.astro';

export function getStaticPaths() {
  const items = [
    { model: 'test', title: 'Hello' }
  ];
  return items.map(item => ({
    params: { model: item.model },
    props: { title: item.title }
  }));
}

const { title } = Astro.props;
---

<Layout>
  <h1>{title}</h1>
</Layout>
