---
import Layout from '~/layouts/PageLayout.astro';

export function getStaticPaths() {
  const products = [
    {
      model: 'CMF300M',
      title: 'CMF300M - Emerson'
    }
  ];
  return products.map((product) => ({
    params: { model: product.model },
    props: { title: product.title }
  }));
}

const { title } = Astro.props;
---

<Layout>
  <h1>{title}</h1>
</Layout>
