---
import Layout from '~/layouts/PageLayout.astro';

export function getStaticPaths() {
  return [{ params: { model: 'test' }, props: { name: 'Test Product' } }];
}

const { name } = Astro.props;
---

<Layout>
  <h1>{name}</h1>
</Layout>
